@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    background-color: white
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:#C08261 !important;
}
